body{margin:0;background:#000;color:#fff;font-family:Arial,sans-serif}
#landing,#boot,#about{height:100vh;display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center}
.logo{width:180px}.hidden{display:none}
h1{text-shadow:0 0 18px #4da3ff;font-size:4rem}
button{padding:15px 40px;font-size:1.2rem;border:none;border-radius:10px;cursor:pointer}
pre{color:#62ff62;font-size:1.1rem;white-space:pre-wrap}
#progress{
    padding:100px 10%;
    background:#050505;
}

#progress h2{
    text-align:center;
    font-size:48px;
    margin-bottom:60px;
}

.timeline{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.card{
    padding:25px;
    border-radius:18px;
    background:#111;
    transition:.3s;
    border:1px solid #222;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 30px rgba(0,170,255,.35);
}

.done{
    border-left:5px solid #00ff88;
}

.progress{
    border-left:5px solid #ffb000;
}

.future{
    border-left:5px solid #4da3ff;
}
